
.intro .content { white-space: nowrap; } 

.title { margin:5rem 0 2rem } 
.heading { white-space: nowrap; } 

.about .parallax-logo { right:30%; position: absolute; top:20%; } 
.about .parallax-logo img { opacity: .6; animation: moveUpDown 1s infinite alternate } 

.about .content { display:flex; } 
.about .content div:first-of-type { flex: 0 0 45%; } 
.about .content div:first-of-type p { word-break:keep-all } 

/* CI Intro */
.about.ci { margin-top:0 } 
.about .img-ci { padding: 8rem 3rem; } 

.works section { display:flex; flex-direction: row-reverse; } 
.works .title { width:30%; position: fixed; top:10rem; left:10rem; overflow: hidden; } 

.works .content { width:60%; } 
.works .timeline.is-expanded { position: fixed; left: 0; top: 0; } 


.clients h1, .clients h2 { text-align:center } 
h2 { font-size:17px; margin-bottom: 2rem; } 
.contact { z-index: 3; } 
.contact iframe { height:600px } 



@media screen and (max-width:1400px){
 .works .title { top:5rem; left:5rem; } 
 section { padding: 5rem; } 
 }

@media screen and (max-width:1000px) { section { flex-direction: column !important; } 
 section > * { width:100% !important } 
 .works .title { position:relative; top:auto; left:auto; margin-bottom:3rem } 
 section { padding: 5rem; } 
 }